/* CSS Variables */
:root {
  --primary-color: #48bb78;
  --secondary-color: #fcd34d;
  --bg-color: #f7fafc;
  --text-color: #4a5568;
  --dark-bg-color: #1a202c;
  --light-bg-color: #e5e5e5;
  --accent-color: #2f855a;
  --accent-hover-color: #38a169;
  --highlight-color: #fbbf24;
  --dark-text-color: #e0e0e0;
  --border-color: #2d3748;
  --footer-bg-color: #1a202c;
}

/* Base styles */
h1 {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  width: 100%;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
  outline: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  color: var(--dark-text-color);
  padding: 2rem;
}

.local-text,
.crafted-text {
  font-family: 'Merienda', sans-serif;
  font-weight: 400;
  text-align: left;
  margin-left: 1rem;
  font-size: 5rem;
}

.local-text {
  color: var(--primary-color);
}

.crafted-text {
  color: var(--secondary-color);
}

.content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content p {
  text-align: left;
}

.description {
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

.browse-btn {
  background-color: var(--accent-color);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.25rem;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  max-width: 200px;
}

.browse-btn:hover {
  background-color: var(--accent-hover-color);
}

.wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title-theme {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Merienda', sans-serif;
  font-weight: 400;
  text-align: left;
  margin-left: 1rem;
  font-size: 2.25rem;
}

.nav-link {
  margin: auto 8px;
  font-size: 1.25rem;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.icon-container {
  display: flex;
  gap: 1rem;
}

.icon-container svg {
  cursor: pointer;
}

.icon-container svg:hover {
  opacity: 0.8;
}

.footer {
  position: sticky;
  top: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--footer-bg-color);
  color: var(--light-bg-color);
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.footer-heading {
  font-size: 1.25rem;
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}

.footer-group a {
  display: block;
  margin: 16px 0;
}

.footer-group a:hover {
  color: var(--secondary-color);
}

.footer-bottom {
  margin: 0 auto;
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 0.5rem;
}

.main-points {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.points-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.point-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 40px;
  flex: 1;
  max-width: 500px;
}

.headline {
  margin-top: 6rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.border-top {
  border-top: 2px solid var(--border-color);
}

.description {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  text-align: center;
}

.point-image {
  width: 5rem;
  height: 5rem;
}

.locate-farms-btn {
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 1.5rem;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.125rem;
  color: #4b5563;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s ease;
}

.locate-farms-btn:hover {
  background-color: var(--highlight-color);
}

.theme-toggle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

#theme-icon {
  width: 32px;
  height: 32px;
}

/* Dark mode */
body.dark-mode .header,
body.dark-mode .main-points {
  background-color: #333333;
}

body.dark-mode .nav-link,
body.dark-mode .title,
body.dark-mode .description,
body.dark-mode .headline,
body.dark-mode .title {
  color: var(--dark-text-color);
}

body.dark-mode .local-span {
  color: var(--primary-color);
}

body.dark-mode .crafted-span {
  color: var(--secondary-color);
}

body.dark-mode .nav-link:hover {
  color: var(--secondary-color);
}

body.dark-mode .point-image {
  fill: var(--dark-text-color);
}

/* Responsive styles */
@media (max-width: 768px) {
  .points-container {
    flex-direction: column;
    align-items: center;
  }

  .header {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
    margin-left: 2rem;
  }

  .footer-group {
    margin-bottom: 1rem;
  }

  .nav-link {
    font-size: 1rem;
  }
}
