/* Global reset */
html,
body {
  display: flex;
  margin: 0;
  border: 0;
  overflow-x: hidden;
}

h1,
a,
p {
  margin: 0;
  border: 0;
}

/* Base styles */
body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  font-family: Barlow Condensed;
}

.card {
  background-color: #fff;
  border: 64px;
  width: 100%;
}

.card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px;
}

.card__text--title {
  text-transform: uppercase;
  font-size: 54px;
  font-weight: 600;
  line-height: 59.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 16px;
}

.card__text--desc {
  font-family: Rajdhani;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 16px;
  margin-left: 4px;
  margin-right: 4px;
}

.card__text--link {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: underline;
}

.card__text--link:link,
.card__text--link:visited {
  color: black;
}

.card__text--link:hover {
  color: orange;
}

.card__image {
  display: flex;
  justify-content: space-between;
}

.card__image__main {
  text-align: center;
  max-width: 360px;
}

.card__image__cluster {
  position: relative;
  margin-bottom: 32px;
  width: 100%;
}

.main-image {
  width: 360px;
  height: 360px;
  object-fit: cover;
  border-radius: 50%;
  z-index: 3;
  position: relative;
}

.corner-image {
  position: absolute;
  width: 160px;
  height: 160px;
  z-index: 2;
}

.top-left {
  top: 0;
  left: 0;
  transform: translate(-80px) rotateY(180deg);
}

.top-right {
  top: 0;
  right: 0;
  transform: translate(20px) rotate(115deg);
}

.bottom-left {
  bottom: 0;
  left: 0;
  transform: translate(-30%, 20%);
}

.bottom-right {
  bottom: 0;
  right: 0;
  transform: translate(20%, 15%);
}

.card__image__title {
  width: 100%;
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 39.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Responsive styles */
@media (min-width: 1441px) {
  .card__image {
    justify-content: space-evenly;
    margin: 64px;
  }
}
@media (max-width: 1440px) {
  .card__image {
    margin: 64px;
  }
}

@media (max-width: 1439px) {
  .main-image {
    width: 280px;
    height: 280px;
  }

  .top-left {
    left: 30px;
  }
}

@media (max-width: 1024px) {
  .main-image {
    width: 200px;
    height: 200px;
  }

  .corner-image {
    width: 135px;
    height: 135px;
  }
}

@media (max-width: 768px) {
  .card__image {
    flex-direction: column;
    align-items: center;
  }

  .top-left {
    left: 50px;
  }

  .card__image__main {
    margin-bottom: 64px;
  }
}

@media (max-width: 425px) {
  .card {
    border: 36px;
  }

  .card__text {
    margin: 64px 16px 32px;
  }

  .card__image__title {
    font-size: 24px;
  }

  .card__text--title {
    font-size: 36px;
    line-height: 40px;
  }

  .card__text--desc {
    font-size: 20px;
    line-height: 26px;
  }

  .card__text--link {
    font-size: 18px;
    line-height: 24px;
  }

  .corner-image {
    width: 135px;
    height: 135px;
  }

  .top-left {
    left: 25px;
  }
}
